*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
button {
  cursor: pointer;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 60px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
header a {
  text-decoration: none;
}
header a.logo {
  color: inherit;
  font-weight: bold;
  font-size: 1.8rem;
}

header nav {
  display: flex;
  align-items: center;
  gap: 12px;
}
header nav a {
  color: #333;
  font-weight: 500;
  font-size: 1.2rem;
}
form.login,
form.register {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
  height: 60vh;
  justify-content: center;
  max-width: 500px;
}

form.login input,
form.register input {
  padding: 6px 8px;
  font-size: 1.1rem;
  outline: none;
}
form.login input:focus,
form.register input:focus {
  outline: 2px solid aqua;
  border: none;
}
form.login button,
form.register button {
  background-color: #333;
  color: white;
  padding: 6px 8px;
  outline: none;
  border: none;
  font-size: 1.1rem;
}
form.loin button:focus,
form.register button:focus {
  outline: 2px solid aqua;
}

form.login span.error,
form.register span.error {
  text-align: center;
  color: crimson;
  font-size: 1.1rem;
}

.post {
  /* margin: 0 auto; */
  /* background-color: red; */
  margin-bottom: 1rem;
}
.post .image {
  width: 100%;
}
.post .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.post .details h2 {
  color: #333;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.5rem;
}
.post .details time {
  color: #333;
  font-size: 1rem;
  margin: 5px 0;
  display: inline-block;
  display: flex;
  justify-content: center;
}
.post .details .summary {
  color: #333;
  line-height: 1.2rem;
  font-size: 1.2rem;
}
form.create input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 6px 8px;
  font-size: 1.1rem;
  outline: none;
}
form.create input:focus {
  outline: 2px solid aqua;
  border: none;
}
form.create button.createBtn {
  display: inline-block;
  width: 100%;
  margin-top: 1rem;
  padding: 6px 8px;
}
